<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>MVC With Burgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<link rel="stylesheet" href="/css/burger_style.css">
	
	</head>
	<body>
		{{{ body }}}

		<script src="/js/burgers.js"></script>
	</body>
</html>